DB_NAME=dentahub
DB_URL=jdbc:mysql://localhost:3306/dentahub?createDatabaseIfNotExist=true&useSSL=false&serverTimezone=Asia/Kolkata
DB_USERNAME=root
DB_PASSWORD=root
SERVER_PORT=8080

APP_CLINIC_NAME=DentaHub Clinic
APP_ADMIN_NAME=
APP_ADMIN_EMAIL=admin@dentahub.com
APP_ADMIN_PASSWORD=admin123
